<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="DiGit" Language="1033" Version="1.0.0.0" Manufacturer="Tal Bener (Allscripts)" UpgradeCode="60cdae80-62eb-4d2f-bc41-f3ab3c1ceb61">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of DiGit is already installed." />
    <MediaTemplate />
    <Feature Id="ProductFeature" Title="DiGitSetup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="comp_07C46244_4734_4E0E_8E0E_63A4AEEB1A02" />
      <ComponentRef Id="comp_2BE98F8C_538B_41B9_925F_0127B499F595" />
      <ComponentRef Id="comp_6AA011E9_FC74_42C8_AAAF_D71F1D6FF2CE" />
      <ComponentRef Id="comp_C1C379DA_9F57_48C8_841C_273DB059490B" />
      <ComponentRef Id="comp_dir_17A601CA_C3E2_4C0D_8FC5_232AB93CB4F4" />
      <ComponentGroupRef Id="DiGit.Binaries" />
      <ComponentRef Id="comp_47C72752_C371_4BF0_BF47_F9ECA618DB98" />
      <ComponentGroupRef Id="RegistryGroup" />
    </Feature>
    <Property Id="WixShellExecTarget" Value="[INSTALLFOLDER]$(var.DiGit.TargetFileName)" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
    
  </Product>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="DiGit">
          <Directory Id="dir_7C2959E8_F191_4C1A_9311_BCA38F4B0F0A" Name="NativeBinaries">
            <Directory Id="dir_39AF8AA4_3084_4554_83C7_58E6693CCDD2" Name="amd64">
              <Component Id="comp_07C46244_4734_4E0E_8E0E_63A4AEEB1A02" Guid="8FEC036F-D10A-4877-905A-4D1410F40F5D" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_0582E2C4_BDD3_40E5_A9D6_1E763D82C3A7" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="git2-91fa31f.dll" Source="$(var.DiGit.TargetDir)\NativeBinaries\amd64\git2-91fa31f.dll" KeyPath="yes" />
              </Component>
              <Component Id="comp_2BE98F8C_538B_41B9_925F_0127B499F595" Guid="E2039290-10A0-4DF3-B5F6-4C98CEE58665" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_C8CD3F61_E5CD_485A_A323_8EB03BF42A14" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="git2-91fa31f.pdb" Source="$(var.DiGit.TargetDir)\NativeBinaries\amd64\git2-91fa31f.pdb" KeyPath="yes" />
              </Component>
            </Directory>
            <Directory Id="dir_DD77052B_A8AF_4320_A25F_27217C109243" Name="x86">
              <Component Id="comp_6AA011E9_FC74_42C8_AAAF_D71F1D6FF2CE" Guid="0368EB18-8C50-4684-BA0D-E507021F15F5" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_CF8B6F91_92DB_48CF_99A8_404617C53FAB" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="git2-91fa31f.dll" Source="$(var.DiGit.TargetDir)\NativeBinaries\x86\git2-91fa31f.dll" KeyPath="yes" />
              </Component>
              <Component Id="comp_C1C379DA_9F57_48C8_841C_273DB059490B" Guid="5EE4F1B1-B596-424F-9F0C-D56B6852BA6B" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_67F6A2C0_779E_4AE1_A685_99B2FA6779AB" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="git2-91fa31f.pdb" Source="$(var.DiGit.TargetDir)\NativeBinaries\x86\git2-91fa31f.pdb" KeyPath="yes" />
              </Component>
            </Directory>
          </Directory>
          <Directory Id="DiGit.Binaries" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="dir_17A601CA_C3E2_4C0D_8FC5_232AB93CB4F4" Name="DiGit">
          <Component Id="comp_dir_17A601CA_C3E2_4C0D_8FC5_232AB93CB4F4" Guid="1EA25B77-CCDC-435A-BE9C-7AFBE2F2EEA3">
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\Installer" Name="comp_dir_17A601CA_C3E2_4C0D_8FC5_232AB93CB4F4" Type="string" Value="New Folder #1 directory" KeyPath="yes" />
            <RemoveFolder Id="id_F7B96A62_9A4C_4027_9DD9_416E7565D6B1" On="uninstall" Directory="dir_17A601CA_C3E2_4C0D_8FC5_232AB93CB4F4" />
          </Component>
          <Component Id="comp_47C72752_C371_4BF0_BF47_F9ECA618DB98" Guid="4830C60E-0DAE-4063-A43B-BF783B9E283D" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <Shortcut Id="_DAFE7025_DDE1_4752_8673_0FA8636BDDC6" Directory="dir_17A601CA_C3E2_4C0D_8FC5_232AB93CB4F4" Name="DiGit" Show="normal" Target="[INSTALLFOLDER]DiGit.exe" WorkingDirectory="dir_17A601CA_C3E2_4C0D_8FC5_232AB93CB4F4">
              <Icon Id="_90199D00A7BE" SourceFile="..\DiGit\Resources\Images\App.ico" />
            </Shortcut>
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\Installer" Name="comp_47C72752_C371_4BF0_BF47_F9ECA618DB98" Type="string" Value="DiGit directory" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <ComponentGroup Id="RegistryGroup">
      <!--<Component Id="_15FABF5F_A177_4486_9D0E_93E4207C00F4" Guid="99428135-C769-46C3-B356-3CE699DD15D2" Transitive="no" Directory="TARGETDIR">
        <RegistryKey Root="HKCU" Key="Software" ForceCreateOnInstall="no" ForceDeleteOnUninstall="no" />
      </Component>
      <Component Id="_DB6891C7_6EEC_4FFE_A410_879318379D0F" Guid="7D6CEB14-9A7D-4FE9-906E-D296CE7D65D8" Transitive="no" Directory="TARGETDIR">
        <RegistryKey Root="HKCU" Key="Software\Microsoft" ForceCreateOnInstall="no" ForceDeleteOnUninstall="no" />
      </Component>
      <Component Id="_EAB87F53_DC3D_4EF9_9C0F_6A31738024D4" Guid="9C0357D1-7FD6-477B-8D44-9034FF1566D4" Transitive="no" Directory="TARGETDIR">
        <RegistryKey Root="HKCU" Key="Software\Microsoft\Windows" ForceCreateOnInstall="no" ForceDeleteOnUninstall="no" />
      </Component>
      <Component Id="_1FD6A65A_27BB_4431_9056_B22565E87071" Guid="724C520D-FFAD-45A9-9BAA-5645500D8BA4" Transitive="no" Directory="TARGETDIR">
        <RegistryKey Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion" ForceCreateOnInstall="no" ForceDeleteOnUninstall="no" />
      </Component>
      <Component Id="_FF8A7EE8_FED6_4ADD_AEA0_EFE32DEF2507" Guid="33819BDD-E44B-4E9C-82CE-F4D97B100277" Transitive="no" Directory="TARGETDIR">
        <RegistryKey Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run" ForceCreateOnInstall="no" ForceDeleteOnUninstall="no" />
      </Component>-->
      <Component Id="_9359B3CC_0C4B_47F5_87AA_81E84F5DC9FF" Guid="63A19A9D-6AE0-4D88-8B37-41A379F4048F" Transitive="no" Directory="TARGETDIR">
        <RegistryValue Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run" Type="string" Name="DiGit" Value="[INSTALLFOLDER]$(var.DiGit.TargetFileName)" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="NotifyIconWpf">
        <File Source="$(var.NotifyIconWpf.TargetPath)" />
      </Component>
      <Component Id="SystemWindowsInteractivity">
        <File Source="$(var.DiGit.TargetDir)\System.Windows.Interactivity.dll" />
      </Component>
      <Component Id="comp_16403C2F_39B8_49FE_823E_F3FB436BE570" Guid="057FB3AD-B91A-422B-B17B-2FE66B322046" Permanent="no" SharedDllRefCount="no" Transitive="no">
        <File Id="_DA023DE0_2D67_4D4F_9FC5_5293003EE47E" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="LibGit2Sharp.dll" Source="..\packages\LibGit2Sharp.0.20.1.0\lib\net40\LibGit2Sharp.dll" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>