<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiGit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiGit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <DiGit.Properties.Settings>
            <setting name="ConfigFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="InfoUrl" serializeAs="String">
                <value>O:\dbMotion-Development\dbMotion 2005\Dev\TalB\DiGit\Info</value>
            </setting>
            <setting name="RegistrationFile" serializeAs="String">
                <value>Users.xml</value>
            </setting>
            <setting name="InfoBaseFileName" serializeAs="String">
                <value>DiGitVersionInfo{0}.xml</value>
            </setting>
            <setting name="ReadInfoDelaySec" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="WriteInfoDelaySec" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UserRegistered" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckUpdateIntervalHr" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MenuPathLength" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="MenuPathLengthWide" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="FoldersMRU" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DiGitCommandID_Prefix" serializeAs="String">
                <value>digit-command</value>
            </setting>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </DiGit.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DiGit.Properties.Settings>
            <setting name="DiGitCommandID_Template" serializeAs="String">
                <value>digit-command-{0}</value>
            </setting>
        </DiGit.Properties.Settings>
    </applicationSettings>
</configuration>